.projectContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.project1Wrapper {
    display: flex;
    flex-direction: row;
}

.projectGithubWrapper {
    background-color: white;
    border-radius: 20px;
    width: 6rem;      
    height: 6rem;
}