html, body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: clamp(14px, 1.5vw + 0.2rem, 18px);
}

h2, h3, p {
  margin: 1rem;
}

h1 {
  font-size: clamp(2.5rem, 5vw + 1rem, 4.5rem);
  line-height: 1.1;
  margin-bottom: 2vh;
  align-self: flex-start;
  margin-left: 3vw;
  margin-top: -5vh; 
}

.navBar a {
  color: white;
  font-weight: 600;
  font-size: clamp(1rem, 1.3vw, 1.5rem);
  cursor: pointer;
}

#A {
    width: 100vw;
    min-height: 100vh;
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 5vh 20px;
}

#B, #C, #D {
  width: 100vw;
  min-height: 100vh;
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
  padding: 5vh 20px;
}

nav {
  display: inline-block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header.visible .navBar {
  top: 0;
  opacity: 1;
  visibility: visible;
}

header.hidden .navBar {
    top: -15vh;
    opacity: 0;
    visibility: hidden;
}

.navBar {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: flex;
  z-index: 1000;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.6);

  top: 0;
  opacity: 1;
  visibility: visible;

  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s;
}

.navBar a:hover {
  color: greenyellow;
  background-color: #333;
  border-radius: 5px;
}

.navText {
  margin-left: 1vw;
  margin-right: 1vw;
}

.skillWrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  h1 {
    margin-left: 5%;
    font-size: clamp(2rem, 4vw + 0.8rem, 3rem);
    text-align: center;
    align-self: center;
  }

  .navBar a {
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    padding: 0 5px;
  }
}