@import "tailwindcss";

@font-face {
  font-family: "BMJUA";
  src: url("./assets/BMJUA.ttf");
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'BMJUA', sans-serif;
  @apply bg-black text-white;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}
